.card-img-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bestsell.card-body {
  position: relative;
  left: 30%;
  /* transform: translateX(-25%); */
  margin: 0;
  padding: 0;
  width: 50%;
}
