.product-content {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.product-container {
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  /* display: grid;
  grid-template-columns: 9fr 3fr; */
}

.product-header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
/*Common setting for product title*/
.prod {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.product-title {
  /* width: 30%; */
  /*border-bottom: 1px solid lightgrey;*/
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

/*So luong*/
.quantity {
  /* width: 30%; */
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/*Don gia*/
.price {
  /* width: 15%; */
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
/*Thanh tien*/
.total {
  /* width: 10%; */
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.products {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

/*Chi tiet san pham - Image + ten*/
.product {
  /* width: 45%; */
  display: flex;
  /* justify-content: space-around; */
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

.product img {
  width: 30%;
  padding-right: 1rem;
}

.amountgroup {
  display: flex;
  justify-content: center;
}

.sum {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid lightgrey;
  position: relative;
  margin-bottom: 1rem;
}

.sum:before {
  content: "";
  position: absolute;
  display: block;
  top: 5%;
  bottom: 5%;
  left: 1rem;
  height: 90%;
  border-left: 2px solid grey;
}

/*trash can*/
.fa-trash-alt:hover {
  color: red !important;
}
