* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container,
.row {
  margin: auto;
  padding: 0;
}

.menu {
  margin: auto;
  padding: 0 1rem;
}

.quickviewbar {
  margin: auto;
  padding: 0 1rem;
}

.topbar {
  margin: auto;
  padding: 0 1rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.upper-navbar {
  padding: 0px;
}

div.headerrow {
  padding: 1rem;
  margin: 1rem;
}

.search-dropdown {
  position: absolute;
  left: 0;
  top: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: dodgerblue;
}

.headerrow {
  width: 100%;
  /* overflow: auto; */
}

.account {
  position: relative;
}

#cartquantity {
  color: white;
  background-color: #25a825;

  padding: 0 0.5rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.cartcontainer {
  padding-top: 1rem;
}

.cartquickview {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  width: 15rem;
  opacity: 0;
  visibility: hidden;
}

.cartview-show {
  opacity: 1 !important;
  visibility: visible !important;
}

.slidersales {
  /* height: 50rem; */
  margin-bottom: 2rem;
}

.col.col-md-9.col-12 {
  overflow: hidden;
  padding: 1rem;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 70rem;
  overflow: hidden;
}

.col.col-md-3.col-12 {
  overflow: hidden;
  padding: 1rem;
}

.carousel {
  height: 100%;
  position: relative;
}

.carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.sales-frame1 {
  height: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.sales-frame2 {
  height: 50%;
  overflow: hidden;
  position: relative;
}

.slider-text-box {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
}

.slider-text-box button {
  font-size: 2rem;
}

.carousel-control-next-icon {
  position: absolute;
  right: 1rem;
}

.carousel-control-prev-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  /* transform: translateY(-50%); */
}

.carousel-item img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

div.sales {
  height: 100%;
}

.sales {
  position: relative;
  overflow: hidden;
}

.sales {
  transition: all 1s;
}

.sales-frame1:hover .sales {
  transform: scale(1.5);
  opacity: 0.7;
}

.sales-frame2:hover .sales {
  transform: scale(1.5);
  opacity: 0.7;
}

.sales.sales1 {
  margin-bottom: 1rem;
  background-image: url(../images/sale1.jpeg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}
.sales.sales2 {
  background-image: url(../images/sale2.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
  overflow: hidden;
}

.carousel-inner .carousel-item:nth-child(1) {
  background-image: url(../images/unisex_slider.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}
.carousel-inner .carousel-item:nth-child(2) {
  background-image: url(../images/unisex_slider_2.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}
.carousel-inner .carousel-item:nth-child(3) {
  background-image: url(../images/unisex_slider_3.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}

/* Handling modal start*/
.bg-for-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
}

.best-selling .product-view-modal {
  position: fixed;
  top: 30%;
  left: 20%;
  /* transform: translateX(-50%); */
  margin-left: -10%;
  height: 40rem;
  width: 60%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
}

button.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background-color: #e1e1e1e1;
}

.modal-appear {
  opacity: 1 !important;
  visibility: visible !important;
  background-color: white;
  animation: appearscaling 1s ease-in-out;
}

@keyframes appearscaling {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }
}

.bg-appear {
  opacity: 0.5 !important;
  visibility: visible !important;
  transition: all 1s;
}

.best-selling .product-info {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.best-selling .product-info .product-info-image {
  width: 100%;
  height: 100%;
  /* background-image: url(/Unisex/images/shoe1.jpeg); */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}

.best-selling .product-info .product-info-detail {
  height: 100%;
  width: 100%;
}

.product-view-modal .product-info .product-info-image {
  width: 100%;
  height: 100%;
  /* background-image: url(/Unisex/images/shoe1.jpeg); */
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}

input.minus,
input.plus {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  text-shadow: 1px 1px 1px #fff;
  color: #666;
  border: 1px solid #ddd;
  text-transform: none;
  font-weight: 400;
}

/* Handling Modal end */

.col-md-4.col-12 {
  padding: 1rem;
}

h2.title {
  padding: 1rem;
}

.sticky {
  position: fixed;
  margin-left: 15%;
  margin-right: 15%;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.card {
  border: 0 !important;
  overflow: hidden;
}

.card-image {
  overflow: hidden;
}

.card-image img {
  transition: all 1s;
}

.card-image:hover img {
  transform: scale(1.5);
  transition: all 1s;
}

.best-selling {
  position: relative;
}

.new-products {
  position: relative;
}

.impressive-products {
  position: relative;
}

.all-products {
  position: relative;
}

.bestsell.card-body img {
  height: 3em;
}

.newproduct.card-body img {
  height: 3rem;
}

.impressiveproduct.card-body img {
  height: 3rem;
}

.allproduct.card-body img {
  height: 3rem;
}

button.prev-next-button.previous {
  position: absolute;
  top: auto;
  left: 0;
  width: 3rem;
  height: 85%;
  text-align: center;
  margin: auto;
  border: 0;
  background-color: #f5f5f5;
  opacity: 0;
  visibility: hidden;
  transform: translateX(1rem);
  transition: all 1s;
}

.best-selling:hover button.prev-next-button.previous {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.new-products:hover button.prev-next-button.previous {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.impressive-products:hover button.prev-next-button.previous {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.all-products:hover button.prev-next-button.previous {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

button.prev-next-button.next {
  position: absolute;
  top: auto;
  right: 0;
  width: 3rem;
  height: 85%;
  text-align: center;
  margin: auto;
  border: 0;
  background-color: #f5f5f5;
  opacity: 0;
  visibility: hidden;
  transform: translateX(1rem);
  transition: all 1s;
}

.best-selling:hover button.prev-next-button.next {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.new-products:hover button.prev-next-button.next {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.impressive-products:hover button.prev-next-button.next {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.all-products:hover button.prev-next-button.next {
  opacity: 0.8;
  visibility: visible;
  transform: translateX(0);
  transition: all 1s;
  z-index: 1;
}

.quickviewprd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5rem);
  transition: all 1s;
}

.card:hover .quickviewprd {
  position: absolute;
  top: 20%;
  opacity: 0.8;
  visibility: visible;
  transform: translateY(5rem);
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.priceinfo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.bestsellcards {
  position: relative;
  transition: all 1s;
}

.bestsellcards .col-md-3.col-12 {
  transition: all 1s;
}

.newproductcard {
  position: relative;
  transition: all 1s;
}

.newproductcard .col-md-3.col-12 {
  transition: all 1s;
}

.impressiveproductcard {
  position: relative;
  transition: all 1s;
}

.impressiveproductcard .col-md-3.col-12 {
  transition: all 1s;
}

.allproductcard {
  position: relative;
  transition: all 1s;
}

.allproductcard .col-md-3.col-12 {
  transition: all 1s;
}

.move-backward {
  animation: move-backward 0.5s backwards;
}

.move-forward {
  animation: move-forward 0.5s forwards;
}

.card-disappear {
  opacity: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

.card-appear {
  opacity: 1;
  width: 100%;
  visibility: visible;
  display: block;

  /* transition: all 3s; */
}

@keyframes move-backward {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-forward {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0);
  }
}

.countdownsale {
  height: 45rem;
}

.countdown.sales.sales1 {
  margin-bottom: 1rem;
  background-image: url(../images/unisex_slider.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}

.footer,
.downfooter {
  background-color: #777777;
  color: white;
}

.footer {
  opacity: 0.8;
  /* height: 25rem; */
}

.footer .col-md-3.col-12 .card {
  background-color: #777777;
  opacity: 0.8;
  color: white;
}

.product-add-to-cart button {
  margin-right: 2rem;
}

.footer .col-md-3.col-12 .card .card-body {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  #cartquantity {
    color: white;
    background-color: #25a825;
    width: 2rem;
    padding: 0 0.5rem;
    line-height: 2rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
  }
  .prod-selected {
    display: none;
  }

  .prod-unselected {
    display: none;
  }
  .amount {
    width: 3rem !important;
  }
  .account {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .topnavbar {
    padding: 1rem;
  }
  .searchtitle {
    position: relative !important;
  }

  .searchlist {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .slogan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .container.slide-sales {
    height: 64rem;
  }

  .slidersales {
    height: 32rem;
    margin-bottom: 1rem;
  }
  .col.col-md-9.col-12 {
    overflow: hidden;
    padding: 1rem;
    height: 100%;
  }

  .col.col-md-3.col-12 {
    overflow: hidden;
    height: 100%;
    padding: 1rem;
    /* margin-top: 1rem; */
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .carousel-item img {
    width: 100%;
  }

  button.prev-next-button.previous {
    position: absolute;
    top: 3rem;
    height: 3em;
    width: 100%;
    text-align: center;
    margin: auto;
    border: 0;
    background-color: #f5f5f5;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 1s;
  }

  button.prev-next-button.previous svg {
    transform: rotate(90deg);
    height: 100%;
  }

  .best-selling:hover button.prev-next-button.previous {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  .new-products:hover button.prev-next-button.previous {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  .impressive-products:hover button.prev-next-button.previous {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  .all-products:hover button.prev-next-button.previous {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  button.prev-next-button.next {
    position: absolute;
    bottom: 1rem;
    height: 3em;
    width: 100%;
    text-align: center;
    margin: auto;
    border: 0;
    background-color: #f5f5f5;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    transition: all 1s;
  }

  button.prev-next-button.next svg {
    transform: rotate(90deg);
    height: 100%;
  }

  .best-selling:hover button.prev-next-button.next {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  .new-products:hover button.prev-next-button.next {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  .impressive-products:hover button.prev-next-button.next {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  .all-products:hover button.prev-next-button.next {
    opacity: 0.8;
    visibility: visible;
    transform: translateY(0);
    transition: all 1s;
    z-index: 1;
  }

  @keyframes move-backward {
    from {
      transform: translateY(25%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes move-forward {
    from {
      transform: translateY(-25%);
    }
    to {
      transform: translateY(0);
    }
  }
  .best-selling .product-view-modal {
    position: fixed;
    top: 40%;
    left: 0;
    margin-left: -2%;
    height: 40rem;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
  .product-view-modal .product-info .product-info-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
