html,
body {
  height: 300vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
}

header {
  height: 30%;
}

main {
  margin-top: 5%;
}

.hero {
  height: 80%;
  background: linear-gradient(
    171.9deg,
    #ffd200 14.55%,
    rgba(247, 151, 30, 0.983214) 91.73%
  );
}

.navbar {
  margin: 2vh 1vw;
  padding: 2% 10%;
}

.navbar-light .navbar-brand {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.032px;

  color: #ffffff;

  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0212013);
}

.navbar-light .navbar-nav .nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  /* identical to box height */
  letter-spacing: 0.025px;

  color: #ffffff;
}

#signup {
  background: #deff06;
  padding: 5px 1vw;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.127264);
  border-radius: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  /* identical to box height */
  letter-spacing: 0.025px;
}

.heromain {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.searchtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.6px;

  color: #ffffff;

  text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.151183);
}

.tip {
  font-family: Poppins;
  font-style: normal;
  /* identical to box height */
  text-align: center;

  color: #696969;

  mix-blend-mode: normal;
  opacity: 0.5;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0910043);
}

.footertip {
  font-family: Poppins;
  font-style: normal;
  /* identical to box height */
  text-align: center;

  color: white;

  mix-blend-mode: normal;
  opacity: 0.5;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0910043);
}

.searchtip {
  text-align: center;
}

.form-row > .col,
.form-row > [class*="col-"] {
  margin: 0 auto;
  padding: 0;
}

.searchregion {
  margin-top: 2vh;
}

#searchmodel {
  width: 60%;
}

#searchpostcode {
  width: 18%;
}

.searcharea .col-auto {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

#searchbutton {
  background: #deff06;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.127264);
  border-radius: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  /* identical to box height */
  letter-spacing: 0.025px;
  border: 0;
  height: 100%;
  padding: 0.5rem;
}

.col-auto input {
  font-size: 1rem;
  border: 0;
  border-radius: 0;
  height: 100%;
  padding: 0.3rem;
  border-right: 1px solid lightgrey;
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
}

.logo img {
  max-width: 40vw;
  margin-top: 10%;
}

.row {
  display: flex;
  justify-content: center;
}

.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

/* section {
  max-width: 100%;
  margin: 0 auto;
} */
.card {
  position: relative;
  padding: 0;
  margin: 0 1rem;
  border: 0;
}

.price {
  max-width: 20%;
}
.price {
  position: absolute;
  top: 10%;
  left: 100%;
  transform: translateX(-90%);
}

.viewdeal {
  /* margin: 3% 0% 3% 3% auto; */
  display: flex;
  justify-content: center;
}

.viewdeal button {
  color: white;
  margin: 5% auto;
  padding: 1rem;
  background: #f5a623;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.14);
}

.footernav {
  background: #342c2c;
  height: 10%;
}

.footernav nav {
  padding: 0% 10%;
}

footer .hero .deals .dealtitle {
  margin: 3% auto;
  color: white;
}

.footernav nav .collapse {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .searchtitle,
  .searchtip {
    display: none;
  }
  .searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #searchmodel {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }

  #searchpostcode {
    width: 40vw;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  #searchbutton {
    width: 40vw;
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }
  .footernav nav {
    display: flex;
    justify-content: center;
  }
  .footernav nav .collapse {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .searchtitle,
  .searchtip {
    display: none;
  }
  .searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #searchmodel {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }

  #searchpostcode {
    width: 40vw;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  #searchbutton {
    width: 40vw;
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }
  .footernav nav {
    display: flex;
    justify-content: center;
  }
  .footernav nav .collapse {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .searchtitle,
  .searchtip {
    display: none;
  }
  .searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #searchmodel {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }

  #searchpostcode {
    width: 40vw;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  #searchbutton {
    width: 40vw;
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }
  .footernav nav {
    display: flex;
    justify-content: center;
  }
  .footernav nav .collapse {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 415px) and (max-width: 730px) {
  .searchtitle,
  .searchtip {
    display: none;
  }
  .searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #searchmodel {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }

  #searchpostcode {
    width: 40vw;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  #searchbutton {
    width: 40vw;
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }
  .footernav nav {
    display: flex;
    justify-content: center;
  }
  .footernav nav .collapse {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 731px) and (max-width: 768px) {
  .searchtitle,
  .searchtip {
    display: none;
  }
  .searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #searchmodel {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }

  #searchpostcode {
    width: 40vw;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  #searchbutton {
    width: 40vw;
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }

  .col-auto input {
    margin: 0;
  }
  .footernav nav {
    display: flex;
    justify-content: center;
  }
  .footernav nav .collapse {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1130px) {
  .searchtitle,
  .searchtip {
    display: none;
  }
  .searcharea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #searchmodel {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }

  #searchpostcode {
    width: 40vw;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
  }
  #searchbutton {
    width: 40vw;
    padding: 0.5rem;
    margin-top: 0.5rem !important;
  }

  .col-auto input {
    margin: 0;
  }
  .footernav nav {
    display: flex;
    justify-content: center;
  }
  .footernav nav .collapse {
    display: flex;
    justify-content: center;
  }
}
