html,
body {
  width: 100vw;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-chevron-up {
  position: absolute;
  left: 0;
}

.fa-chevron-down {
  position: absolute;
  left: 0;
}

.userInfo {
  font-size: 0.7rem;
}

.navbar-brand {
  display: flex;
  justify-content: center;
}
.navbar-brand img {
  width: 50%;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userImg img {
  width: 3vw;
  border-radius: 50%;
}

.userdtl {
  margin: 0px 5px;
}

.logo {
  flex: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 50;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: relative;
  padding-left: 3%;
}

.account {
  flex: 30;
  position: relative;
}

.usershow {
  position: absolute;
  top: 110%;
}

.permusic,
.logout {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.permusicicon,
.logouticon {
  margin-right: 2vw;
}

.searchText {
  flex: 1;
  border: none;
  margin: 5px;
  padding: 0 2vw;
}

.search span .fa-search {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
}

.nav {
  margin-top: 3vh;
}

.navbar {
  padding: 0;
}

.dropdown-menu {
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.usershow {
  padding: 2%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  /* height: 100px; */
}

@media screen and (max-width: 900px) {
  .logo {
    width: 50%;
  }
}

.permusic:hover {
  background-color: #fcfcfc;
  color: #65509e;
}

.logout:hover {
  background-color: #fcfcfc;
  color: #65509e;
}

.navbar-toggler {
  position: relative;
  border: 0;
}

.navbar-toggler span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
