* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

.facebook {
  position: fixed;
  top: 10em;
  left: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.fab {
  font-size: 2.5em;
}

p {
  margin: 0;
}

.intro h3 {
  margin-top: 0;
}

.intro {
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1% auto;
}

.cart {
  position: absolute;
  top: 50%;
  right: 5%;
}

.logocontain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1%;
}

.header {
  width: 100%;
  grid-column: 1/3;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  width: 100%;
  border-top: solid 1px white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.menu:after {
  clear: both;
}

.menuitem {
  display: flex;
  flex-direction: row;
  flex: 80;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0 !important;
}

.menuli {
  list-style-type: none;
  border-left: solid 1px white;
  border-right: solid 1px white;
  padding-right: 1em;
  padding-left: 1em;
}

.menuli a {
  text-decoration: none;
  color: white;
}

.menuli:hover a {
  color: green;
}

.search {
  display: flex;
  flex-direction: row;
  flex: 20;
  align-items: center;
}

.searchicon {
  font-size: 1em;
  margin-left: 2%;
  display: flex;
  flex: 20;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.searchtext {
  display: flex;
  flex: 80;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: all 1s;
}

.search:hover .searchtext {
  z-index: 0;
  transform: translate(15%);
}

.search:hover .searchicon {
  color: black;
  z-index: 1;
}

.main {
  grid-column: 1/3;
  width: 90%;
  margin: 0 auto 0 auto;
}

.productlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: auto auto 1fr 1fr auto auto; */
  flex: 83;
  margin-left: 1%;
}

.intro {
  grid-column: 1/4;
}

.content {
  display: flex;
  flex-direction: row;
}

.breadcrumb {
  grid-column: 1/3;
}

.sidebar {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  flex: 17;
}

.sidemenu {
  background-color: black;
  padding-right: 0.5em;
  /* height: 18%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sideul {
  padding: 0;
  margin-left: 0;
}

.sideli {
  list-style-type: none;
}

.sideli:hover a {
  color: green;
}

.sideli a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

.rendertype {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.products {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid green;
  overflow: hidden;
  text-align: center;
}

.productbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fasshop {
  padding-left: 0.25em;
  padding-right: 0.25em;
  opacity: 0;
  transition: all 1s;
}

.product:hover .fasshop {
  opacity: 1;
}

.product:hover img {
  transform: scale(1.5);
  opacity: 0.5;
  transition: all 1s;
}

.footer {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  background-color: black;
}

.upper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
}

.productdetail {
  flex: 83;
  
}

.productinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
}

.proddetail {
  grid-column: 2/4;
}

.shopping {
  grid-column: 1/2;
  text-align: center;
}
