* {
  font-size: 20px;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.sec {
  float: left;
}

.content {
  position: relative;
  background-color: aquamarine;
  padding: 5px;
  margin: 1px;
  border: 1px solid black;
}

.para {
  display: none;
  float: left;
}

.fa-minus {
  position: absolute;
  top: 5px;
  right: 20px;
  float: right;
}

.fa-plus {
  position: absolute;
  top: 5px;
  right: 20px;
  float: right;
}

.clear {
  clear: both;
}

.listUI {
  margin: 10px 0px;
  padding: 0;
  font-size: 15px;
}

.listUI li:nth-child(even) {
  list-style-type: none;
  background-color: aquamarine;
  border: 1px solid black;
  width: 30%;
  margin: 1px 0px;
  padding: 5px;
}

.listUI li:nth-child(odd) {
  list-style-type: none;
  background-color: crimson;
  border: 1px solid black;
  width: 30%;
  margin: 1px 0px;
  padding: 5px;
}

.listUI li {
  font-size: 15px;
  position: relative;
}

listUI li .fa-minus {
  position: absolute;
  right: 5px;
  top: 5px;
}

.listUI li .fa-pencil-alt {
  position: absolute;
  right: 50px;
  top: 5px;
}
