* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 1em;
}

