* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.username {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username .label {
  flex: 30;
  padding: 0 0.5em;
  margin: 0.5em 0.5em;
}

.password {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password .label {
  flex: 30;
  padding: 0 0.5em;
  margin: 0.5em 0.5em;
}

#txtUsername {
  flex: 70;
  padding: 0.5em;
}

#txtPassword {
  flex: 70;
  padding: 0.5em;
}

#btnLogin {
  background-color: green;
  padding: 0.8em 2em;
}
