* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.login {
  padding: 0.5em;
  margin: 0.5em;
}

#btnLogin {
  background-color: green;
  padding: 0.5em 2em;
}
