html,
body {
  font-size: 12px;

  font-family: Poppins;
}

.container {
  max-width: 1462px;
  max-height: 2698px;
  margin: 1rem auto;
  background: #ffffff;
}

.time {
  margin-left: 8.5%;
  margin-top: 0.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  /* identical to box height */

  color: #7d7d7d;
}

.about {
  margin-right: 8.5%;
  margin-top: 0.5rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  /* identical to box height */

  color: #7d7d7d;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Intro;
  font-size: 7.5rem;
  line-height: 105px;
  text-align: center;

  color: #363636;
}

.navbar {
  position: relative;
  width: 82.2%;
  font-size: 1rem;
  margin: 0 auto;
}

.content {
  width: 77.5%;
  margin: 1.5rem auto;
}
