* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: aquamarine;

  position: relative;
}

.navbar > ul > li > a {
  display: block;
  text-decoration: none;
  padding: 5px 0;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.navbar > ul > li {
  list-style: none;
  padding-right: 15px;
  margin-right: 5px;
}

.navbar > ul {
  display: flex;
}

.navbar > ul > li:nth-child(1) {
  padding-left: 5px;
}

.navbar > ul > li:hover a {
  border-bottom: 1px solid black;
}

.sub-items {
  display: flex;
  position: absolute;
  top: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: none;
}

.sub-items > ul > li {
  list-style: none;
  padding: 5px;
}

.sub-items > ul > li > a {
  display: block;
  text-decoration: none;
  padding: 5px 0;
}

.sub-items > ul > li:hover {
  background-color: green;
}

.navbar > ul > li:hover .sub-items {
  display: flex;
}
